.footer{

	display: flex;
	min-height: 8rem;
	justify-content: space-between;
	align-items: flex-end;

	&__image{
		width: 15%;
		margin-left: auto;
		
	}

	&__text{
		color: rgb(38, 142, 150);
		font-size: 1.2rem;
		font-weight: 400;
		margin-right: 2rem;

	}

}

.svg-icon{
	fill: rgb(38, 142, 150);;
}